In [1]:
#
#   Importacion de librerias
#
#!pip install pandas
#!pip install numpy
import pandas as pd
import numpy as np

In [2]:
#Leyendo archivo.csv

movies_df = pd.read_csv('movies_dataset.csv', low_memory=False)

In [3]:
movies_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
# Dropeo columnas solicitadas
# los pasos no se encuentran en el orden solicitado, sino que los fui haciendo de acuerdo a como más comodo me quedará trabajar luego los siguientes pasos

#creamos una lista con las columnas a dropear
droplist = ['video','imdb_id','adult','original_title','vote_count','poster_path','homepage']

#dropeamos
movies_df = movies_df.drop(columns=droplist)

In [5]:
# chequeamos la cantidad de valores nulos

print(movies_df.isna().sum())

belongs_to_collection    40972
budget                       0
genres                       0
id                           0
original_language           11
overview                   954
popularity                   5
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
vote_average                 6
dtype: int64

In [6]:
# cambiamos nulos por el número 0

movies_df['revenue'].fillna(0, inplace=True)

In [7]:
# volvemos a chequear luego de hacer el cambio

print(movies_df.isna().sum())

belongs_to_collection    40972
budget                       0
genres                       0
id                           0
original_language           11
overview                   954
popularity                   5
production_companies         3
production_countries         3
release_date                87
revenue                      0
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
vote_average                 6
dtype: int64

In [8]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 45466 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   45463 non-null  object
 8   production_countries   45463 non-null  object
 9   release_date           45379 non-null  object
 10  revenue                45466 non-null  float64
 11  runtime                45203 non-null  float64
 12  spoken_languages       45460 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  float64
dtypes: float64(3), object(14)
memory usage: 5.9+ MB

In [9]:
# Encontramos el error que no permitia la transformacion del tipo de dato en la columna 'budget' y dropeamos dicha fila

#movies_df[movies_df['budget'] == '/ff9qCepilowshEtG2GYWwzt2bs4.jpg']
#movies_df[movies_df['budget'] == '/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg']

#movies_df = movies_df.drop(movies_df[movies_df['budget'] == '/ff9qCepilowshEtG2GYWwzt2bs4.jpg'].index)


# Al notar que no es solo un dato el que impide la transformacion procedo a buscar con ayuda de chatgpt una forma eficiente de 
# filtrar las mismas y convertir el tipo de dato para realizar la transformacion necesaria

# Creamos un filtro
filtro = movies_df['budget'].str.contains('.jpg')

#
# aplicamos el filtro generado con el operador de negacion '~' para invertir el mismo y obtener las columnas que no contengan '.jpg'

movies_df = movies_df[~filtro]

# Finalmente convertimos el tipo de dato
movies_df['budget'] = movies_df['budget'].astype('float64')

In [10]:
# Creamos columna return

movies_df['return'] = movies_df['revenue'] / movies_df['budget']

In [11]:
# Reemplazamos los NaNs e infinitos en la columna return

movies_df['return'] = movies_df['return'].replace(np.inf, 0)
movies_df['return'] = movies_df['return'].fillna(0)

In [12]:
# Transformamos el tipo de dato del campo 'release_date'
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'], format= '%Y-%m-%d')

In [13]:
# Tratamos nulos
movies_df['release_date'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
45461     True
45462    False
45463    False
45464    False
45465    False
Name: release_date, Length: 45463, dtype: bool

In [14]:
# Eliminamos nulos de la columna 'release_date'
movies_df['release_date'] = movies_df['release_date'].dropna()

In [15]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45463 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45463 non-null  float64
 2   genres                 45463 non-null  object
 3   id                     45463 non-null  object
 4   original_language      45452 non-null  object
 5   overview               44509 non-null  object
 6   popularity             45460 non-null  object
 7   production_companies   45460 non-null  object
 8   production_countries   45460 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45463 non-null  float64
 11  runtime                45203 non-null  float64
 12  spoken_languages       45460 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  float64
 17  return                 45463 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(12)
memory usage: 6.6+ MB

In [16]:
#CREAMOS LA COLUMNA RELEASE YEAR
movies_df['release_year'] = movies_df.release_date.dt.year

In [17]:
movies_df['release_year'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
45461     True
45462    False
45463    False
45464    False
45465    False
Name: release_year, Length: 45463, dtype: bool

In [18]:
# Reemplazamos los NaNs e infinitos en release_year

movies_df['release_year'] = movies_df['release_year'].replace(np.inf, 0)
movies_df['release_year'] = movies_df['release_year'].fillna(0)

In [19]:
# Transformamos el tipo de dato ya que fue tomado como float64 en un principio
movies_df['release_year'] = movies_df['release_year'].astype('int')

In [20]:
# Instanciamos la funcion para desanidar
import ast

def fetch_name(obj): # Está funcion tiene el proposito de extraer una lista de nombres de una cadena de texto si esta contiene un diccionario
    if isinstance(obj, str) and '{' in obj:
        L=[]
        for i in ast.literal_eval(obj):
            L.append(i['name']);
        return L

In [21]:
def fetch_name2(obj): #Está funcion extrae el valor asociado a la clave 'name'
    if isinstance(obj, str) and '{' in obj:
        # print(obj)
        dic = ast.literal_eval(obj)
        return dic['name']

In [22]:
movies_df

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,return,release_year
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,12.451801,1995
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,4.043035,1995
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,0.000000,1995
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,5.090760,1995
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,0.000000,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,fa,Rising and falling between a man and woman.,0.072051,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaT,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,4.0,0.000000,0
45462,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,0.000000,2011
45463,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,0.000000,2003
45464,NaN,0.0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.000000,1917
45465,NaN,0.0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.000000,2017

In [23]:
#Expresamos los datos de las columnas que tienen datos en forma de listas a forma de no listas
movies_df['genres'] = movies_df['genres'].apply(fetch_name)
movies_df['belongs_to_collection'] = movies_df['belongs_to_collection'].apply(fetch_name2)
movies_df['production_companies'] = movies_df['production_companies'].apply(fetch_name)
movies_df['production_countries'] = movies_df['production_countries'].apply(fetch_name)
movies_df['spoken_languages'] = movies_df['spoken_languages'].apply(fetch_name)

In [24]:
# Notamos que aún permanecen los '[]', así que procedemos a transformar eso
movies_df.head(10)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,return,release_year
0,Toy Story Collection,30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,12.451801,1995
1,None,65000000.0,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,4.043035,1995
2,Grumpy Old Men Collection,0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,0.000000,1995
3,None,16000000.0,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,5.090760,1995
4,Father of the Bride Collection,0.0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,0.000000,1995
5,None,60000000.0,"[Action, Crime, Drama, Thriller]",949,en,"Obsessive master thief, Neil McCauley leads a ...",17.924927,"[Regency Enterprises, Forward Pass, Warner Bros.]",[United States of America],1995-12-15,187436818.0,170.0,"[English, Español]",Released,A Los Angeles Crime Saga,Heat,7.7,3.123947,1995
6,None,58000000.0,"[Comedy, Romance]",11860,en,An ugly duckling having undergone a remarkable...,6.677277,"[Paramount Pictures, Scott Rudin Productions, ...","[Germany, United States of America]",1995-12-15,0.0,127.0,"[Français, English]",Released,You are cordially invited to the most surprisi...,Sabrina,6.2,0.000000,1995
7,None,0.0,"[Action, Adventure, Drama, Family]",45325,en,"A mischievous young boy, Tom Sawyer, witnesses...",2.561161,[Walt Disney Pictures],[United States of America],1995-12-22,0.0,97.0,"[English, Deutsch]",Released,The Original Bad Boys.,Tom and Huck,5.4,0.000000,1995
8,None,35000000.0,"[Action, Adventure, Thriller]",9091,en,International action superstar Jean Claude Van...,5.23158,"[Universal Pictures, Imperial Entertainment, S...",[United States of America],1995-12-22,64350171.0,106.0,[English],Released,Terror goes into overtime.,Sudden Death,5.5,1.838576,1995
9,James Bond Collection,58000000.0,"[Adventure, Action, Thriller]",710,en,James Bond must unmask the mysterious head of ...,14.686036,"[United Artists, Eon Productions]","[United Kingdom, United States of America]",1995-11-16,352194034.0,130.0,"[English, Pусский, Español]",Released,No limits. No fears. No substitutes.,GoldenEye,6.6,6.072311,1995

In [25]:
# Usamos este codigo que iterara cada columna y nos devolvera una cadena de strings separados por ',', en el que si no hay valor conservara el valor None.
# La misma hará que los datos sean más legibles y faciles de analizar


movies_df['genres'] = movies_df['genres'].apply(lambda x: ', '.join(map(str, x)) if x is not None else None)
movies_df['production_companies'] = movies_df['production_companies'].apply(lambda x: ', '.join(map(str, x)) if x is not None else None)
movies_df['production_countries'] = movies_df['production_countries'].apply(lambda x: ', '.join(map(str, x)) if x is not None else None)
movies_df['spoken_languages'] = movies_df['spoken_languages'].apply(lambda x: ', '.join(map(str, x)) if x is not None else None)

In [26]:
# Comprobamos que ya no se encuentran los mismos
movies_df.head(10)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,return,release_year
0,Toy Story Collection,30000000.0,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,12.451801,1995
1,None,65000000.0,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,4.043035,1995
2,Grumpy Old Men Collection,0.0,"Romance, Comedy",15602,en,A family wedding reignites the ancient feud be...,11.7129,"Warner Bros., Lancaster Gate",United States of America,1995-12-22,0.0,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,0.000000,1995
3,None,16000000.0,"Comedy, Drama, Romance",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81452156.0,127.0,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,5.090760,1995
4,Father of the Bride Collection,0.0,Comedy,11862,en,Just when George Banks has recovered from his ...,8.387519,"Sandollar Productions, Touchstone Pictures",United States of America,1995-02-10,76578911.0,106.0,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,0.000000,1995
5,None,60000000.0,"Action, Crime, Drama, Thriller",949,en,"Obsessive master thief, Neil McCauley leads a ...",17.924927,"Regency Enterprises, Forward Pass, Warner Bros.",United States of America,1995-12-15,187436818.0,170.0,"English, Español",Released,A Los Angeles Crime Saga,Heat,7.7,3.123947,1995
6,None,58000000.0,"Comedy, Romance",11860,en,An ugly duckling having undergone a remarkable...,6.677277,"Paramount Pictures, Scott Rudin Productions, M...","Germany, United States of America",1995-12-15,0.0,127.0,"Français, English",Released,You are cordially invited to the most surprisi...,Sabrina,6.2,0.000000,1995
7,None,0.0,"Action, Adventure, Drama, Family",45325,en,"A mischievous young boy, Tom Sawyer, witnesses...",2.561161,Walt Disney Pictures,United States of America,1995-12-22,0.0,97.0,"English, Deutsch",Released,The Original Bad Boys.,Tom and Huck,5.4,0.000000,1995
8,None,35000000.0,"Action, Adventure, Thriller",9091,en,International action superstar Jean Claude Van...,5.23158,"Universal Pictures, Imperial Entertainment, Si...",United States of America,1995-12-22,64350171.0,106.0,English,Released,Terror goes into overtime.,Sudden Death,5.5,1.838576,1995
9,James Bond Collection,58000000.0,"Adventure, Action, Thriller",710,en,James Bond must unmask the mysterious head of ...,14.686036,"United Artists, Eon Productions","United Kingdom, United States of America",1995-11-16,352194034.0,130.0,"English, Pусский, Español",Released,No limits. No fears. No substitutes.,GoldenEye,6.6,6.072311,1995

In [27]:
#Transformamos el tipo de dato de la columna 'id' para poder iterarlo en una funcion

movies_df['id'] = movies_df['id'].astype(int)

print(movies_df.dtypes)

belongs_to_collection            object
budget                          float64
genres                           object
id                                int32
original_language                object
overview                         object
popularity                       object
production_companies             object
production_countries             object
release_date             datetime64[ns]
revenue                         float64
runtime                         float64
spoken_languages                 object
status                           object
tagline                          object
title                            object
vote_average                    float64
return                          float64
release_year                      int32
dtype: object

In [28]:
# Contar la cantidad de valores NaN o NA en la columna "production_countries"
cantidad_nulos = movies_df["production_countries"].isna().sum()

print(f"Cantidad de valores nulos: {cantidad_nulos}")

Cantidad de valores nulos: 6285

In [29]:
# Cambiamos las filas que contienen NaN en 'production_countries', ya que ocasiona problemas al momento de crear las funciones
#movies_df['production_countries'] = movies_df['production_countries'].fillna('Unknown')

movies_df['production_companies'] = movies_df['production_companies'].fillna('Unknown')

In [ ]:
# guardamos el DataFrame en un archivo CSV
movies_df.to_csv('movies_df.csv')

Limpieza para hacer más eficiente las funciones

In [30]:
#Creamos un nuevo dataset que nos será util y eficiente al hacer las funciones
movies_df_funciones = movies_df.loc[:, ['belongs_to_collection', 'title', 'production_companies', 'production_countries', 'release_date', 'release_year', 'budget', 'revenue', 'return']]

In [31]:
movies_df_funciones

,belongs_to_collection,title,production_companies,production_countries,release_date,release_year,budget,revenue,return
0,Toy Story Collection,Toy Story,Pixar Animation Studios,United States of America,1995-10-30,1995,30000000.0,373554033.0,12.451801
1,None,Jumanji,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995-12-15,1995,65000000.0,262797249.0,4.043035
2,Grumpy Old Men Collection,Grumpier Old Men,"Warner Bros., Lancaster Gate",United States of America,1995-12-22,1995,0.0,0.0,0.000000
3,None,Waiting to Exhale,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,1995,16000000.0,81452156.0,5.090760
4,Father of the Bride Collection,Father of the Bride Part II,"Sandollar Productions, Touchstone Pictures",United States of America,1995-02-10,1995,0.0,76578911.0,0.000000
...,...,...,...,...,...,...,...,...,...
45461,None,Subdue,Unknown,Iran,NaT,0,0.0,0.0,0.000000
45462,None,Century of Birthing,Sine Olivia,Philippines,2011-11-17,2011,0.0,0.0,0.000000
45463,None,Betrayal,American World Pictures,United States of America,2003-08-01,2003,0.0,0.0,0.000000
45464,None,Satan Triumphant,Yermoliev,Russia,1917-10-21,1917,0.0,0.0,0.000000
45465,None,Queerama,Unknown,United Kingdom,2017-06-09,2017,0.0,0.0,0.000000

In [34]:
#Exportamos a un archivo .csv para ser usado luego
movies_df_funciones.to_csv('df_funciones.csv')